.login-card__page{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  padding: 30px;
  margin-left: 35%;
  margin-right: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.login-card__title{
  font-size: 20px;
  font-weight: $typography-titlesemibold-font-weight;
  color: $text-primary;
  text-align: center;
}

.login-card__text{
  margin-top: 12px;
  text-align: center;
}

.login-card__all-inputs{
  margin-top: 40px;
}

.login-card__label{
  padding-top: 20px;

  label{
    display: block;
    padding-bottom: 6px;
  }

  input{
    width: 100%;
    height:35px;
    border: none;
    border-bottom: 2px solid $bacground-positive-primary;
  }
}
.login-card__submit-button-container{
  justify-content: flex-end;
  display: flex;
}
.login-card__submit-button{
  background: $bacground-positive-primary;
  width: 181px;
  align-items: center;
  border: none;
  color: #FFFFFF;
  height: 48px;
  margin-top: 60px;
}